Azure-Web-App-Deployment-Template/bin
Azure-Web-App-Deployment-Template/obj
Azure-Web-App-Deployment-Template/Deployment.targets
Azure-Web-App-Deployment-Template/Azure-Web-App-Deployment-Template.deployproj
